@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

.forceUpdate{
  display: none;
}
body{
  overflow: hidden;
}
*::-webkit-scrollbar {
  display: none;
}

button:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #333;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
 
}

.desktopChatMain {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
  grid-template-areas:
    ". ."
    ". .";
}

/* NewChat ######################################################*/
.newChat{
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
}

.newChat .contactSearch{
  background-color: none;
  padding-top: 9vh;
}

.contactSearch input{
  width: 80%;
  height: 18px;
  margin: 15px 0px 15px 2.5%;
  border-radius: 10vh 0vh 0vh 10vh;
  border: none;
  padding: 10px 10px 15px 10px;
  font-weight: 500;
  color: white;
  font-size: 18px;
  overflow-wrap: normal;
  background-color: #075E54;
}

.contactSearch button{
  height: 43px;
  width: 9%;
  border-radius: 0% 50% 50% 0%;
  border: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 1px;
  background-color: #075E54;
}
.newChat .chatFormation{
  background-color: none;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.newChat .startChatting{
  width: 50%;
  margin: auto;
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  color: white;
  background-color: #075E54;
  border-radius: 10vh;
  border: none;
  padding: 5px;
}

.dragOverlay{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: none;
  z-index: 50;
  pointer-events: none;
  display: none;
}
/* Message ######################################################*/

.message {
  margin: 0px 10px 10px 10px;
  padding-top: 10px;
  background-color: #333;
  max-width: 80%;
  scroll-snap-align: end;
  
}

.message .messageContent{
  padding: 15px;
  color: white;
}

.message .time{
  text-align: end;
  padding: 0px 15px 15px 15px;
  color: white;
}

.message .name{
  color: limegreen;
  font-weight: 700;
  font-size: 14px;
  margin: 10px 10px 5px 15px ;
}

.sent .name{
  display: none;
}
.received{
  border-radius: 0px 15px 15px 25px;
  margin-right: auto;
}

.sent{
  border-radius: 15px 0px 25px 15px;
  background-color: darkslategray;
  margin-left: auto;
}

.messageInput{
  width: 70%;
  height: 18px;
  margin: 15px;
  border-radius: 10vh;
  border: none;
  padding: 10px 15px 15px 15px;
  font-weight: 500;
  color: white;
  font-size: 18px;
  overflow-wrap: normal;
  background-color: #075E54;
}

.sendMessageButton{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: #075E54;
  
}

.sendMessageButton img{
  padding-left: 5px;
  height: 30px;
  width: 30px;
}

.sendMessage{
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #333;
  height: 10vh;
  width: 100%;
}
/* Chat Item ######################################################*/
.chatItem:hover{
  background-color: #075E54;
}
.chatItem img{
  border-radius: 50%;
  max-height: 55px;
  max-width: 55px;
}

.chatItem p{
  color: white;
}
.chatItem .date{
  font-size: 10px;
  margin-left: auto;
}

.chatItem .name{
  font-size: 18px;
  font-weight: 700;
  margin-right: auto;
}

.chatItem .previewText{
  font-size: 15px;
  color: lightgray;
  margin-right: auto;
}
.chatItem {
  height: 8vh;
  border-bottom: darkslategrey solid 1px;
  padding: 20px;
  background-color: #333;
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". chatInfo";
}

.chatItem:last-of-type{
  padding-bottom: 50px;
}
.chatInfo {
  border: none;
  background: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nameAndDate"
    ".";
  grid-area: chatInfo;
}
.nameAndDate {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  grid-area: nameAndDate;
}
/* Swipe JS ######################################################*/
.dashButtons .selected{
  background-color:lightslategray;
}

.dashButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  height: 5vh;
}

.dashButtons button{
  padding: 2px 10px 12px 10px;
  border: none;
  background-color: #075E54;
  font-weight: 700;
  font-size: 20px;
}
.dashboardWindow .swipe{
  margin-top: 0;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* Chat View######################################################*/
.chatView {
  background-color: lightblue;
  height: 79vh;
  padding-top: 1vh;
}

.chatView .messages{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 68vh;
}

.chatView::-webkit-scrollbar{
  display: none;
}
/* Chat List######################################################*/
.chatList {
  background-color: #333;
  overflow-y: scroll;
  height: 80vh;
}

.chatList::-webkit-scrollbar {
  display: none;
}
/* Contact Bar######################################################*/
.contactsBar .minimize{
  pointer-events: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color:#333;
  border: none;
  font-weight: 700;
  height: 3vh;
}

.minimize img{
  width: 3vh;
  height: 3vh;
  transition-duration: 500ms;
}
.contactsHolder::-webkit-scrollbar {
  display: none;
}
.contactsHolder {
  pointer-events: all;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  background-color: #333;
  height: 12vh;
  
}
.contactsBar {
  top: -15vh;
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  height: 15vh;
  z-index: 10;
  transition-duration: 500ms;
}

.miniContact img{
  pointer-events: none;
  padding-top: 5vh;
  margin: 0px 5px 0px 5px;
  width: 6vh;
  height: 6vh;
}

.miniContact{
  pointer-events: all;
  z-index: 50;
  
}

.dragOverlay .miniContact{
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  
}

.chatFormation .miniContact{
  transition-duration: 900ms;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.chatFormation .miniContact:first-of-type{
  margin-left: 0px;
}

.chatFormation img{
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}
/*  Dashboard############################################# */
  .dashboardWindow {
    max-width: 1000px;
    margin: auto;
    margin-top: 3vh;
    height: 85vh;
    position: relative;
  }
/*  Navbar Signed In############################################# */
.navbarLoggedIn{
  z-index: 9999;
}

.navbarLoggedIn .profilePicture{
  height: 45px;
  width: 45px;
}

.navbarLoggedIn .settingsPicture{
  width:  20px;
  height: 20px;

}

.navbarLoggedIn a{
  margin: auto;
  vertical-align: middle;
}
/*  Navbar############################################# */

.navbar {
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #075E54;
  height: 40px;
  width: 100%;
  z-index: 90;
}
.navbar h1 {
  pointer-events: none;
  color:white;
  padding-top: 26px;
  font-size: 26px;
}
.navbar .links {
  padding-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  height: 100%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}

/* Login Page########################################## */
.login .loginWindow {
  box-shadow: 5px 8px 5px 2px rgba(0,0,0,0.51);
  -webkit-box-shadow: 5px 8px 5px 2px rgba(0,0,0,0.51);
  -moz-box-shadow: 5px 8px 5px 2px rgba(0,0,0,0.51);
  border-radius: 10px;
}

.login .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 30px;
}

.login .center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login input {
  width: 100%;
  border-radius: 5px;
}

.login h1 {
  text-align: center;
  width: 100%;
  border-bottom: 3px solid green;
  padding-bottom: 15px;
  margin-bottom: 10px
}

.login h2 {
  text-align: center;
}

.login .buttonHolder{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login button{
  color: darkgray;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  padding: 5px;
}

.login button:hover{
  color: black;
}

